// Copy this file to BabyPlayerSecrets.xcconfig and replace the placeholder locally.
// BabyPlayerSecrets.xcconfig is ignored by Git.
BABYPLAYER_ASR_API_TOKEN = XX_BABYPLAYER_API_TOKEN
// Debug 真机可覆盖为 Mac 局域网地址，例如 http:/$()/192.168.1.10:8011/v1。
// BABYPLAYER_ASR_BASE_URL[config=Debug] = http:/$()/192.168.1.10:8011/v1
